.pdf-viewer-container {
  height: 100%;
}
.app {
  height: 100vh;
}

nav {
  overflow: auto;
  ul {
    display: flex;
    flex-direction: row;
    list-style: circle;
    li {
      margin-right: 30px;
    }
  }
}
